
<head>
    <link href="~/css/layout.css" rel="stylesheet" />
</head>

<body>
    <h1>About Candle</h1>
    <p>Candle is a company that specializes in making high-quality candles for all occasions. We are passionate about creating beautiful and unique candles that bring warmth, comfort, and joy to our customers' lives.</p>
    <p>Our candles are made from the finest ingredients and are handcrafted with care. We offer a wide variety of scents and styles to suit any taste. Whether you're looking for a classic pillar candle, a modern soy wax candle, or a festive holiday candle, we have something for you.</p>
    <p>At Candle, we believe in sustainability and responsibility. That's why we use natural, renewable resources whenever possible, such as soy wax and beeswax. We also strive to minimize waste and reduce our environmental impact.</p>
    <p>Thank you for choosing Candle for your candle needs. We are committed to providing exceptional products and service to our customers. If you have any questions or comments, please don't hesitate to contact us.</p>


    <img src="/image/candle.jpg" />
</body>




