@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>


<head>
    <link href="~/css/layout.css" rel="stylesheet" />
</head>

<body>
    <h1> Candle</h1>
    <p>Thank you for visiting our website. We are a company that specializes in making high-quality candles for all occasions. Our candles are made from the finest ingredients and are handcrafted with care. We offer a wide variety of scents and styles to suit any taste.</p>
    <p>Feel free to browse our selection and contact us if you have any questions or special requests. We look forward to serving you!</p>
</body>
