

@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <link href="~/css/layout.css" rel="stylesheet" />
</head>

<body>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

</body>
